body{
   margin: 5px;
    color: white;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 90%;
    max-width: 1200px;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    flex: 1;
    text-align: center;
}

#carouselExampleCaptions {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    object-fit: contain;
}


.carousel-item img {
    max-width: 100%;
    height: 1100px;
    object-fit: cover;
}

audio {
    width: 80%;
    height: 40px;
    cursor: pointer;
}
