
body {
    background-image: url(../pic/space.jpg);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: white;
}
