@keyframes breathe {
    0%{
        background-color: rgb(9, 4, 44);
    }

    20%{
        background-color: rgb(27, 14, 102);
    }
    
    40% {
        background-color: rgb(35, 17, 139);
    }
    60% {
        background-color: rgb(53, 28, 196);
    }

    100% {
        background-color: rgb(35, 17, 139);
    }
}

body{
    animation: breathe 60s  ease-in-out infinite;
    color: white;
    margin: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.075);
}
        .container img {
        max-width: 90%;
        height: auto;
        margin: 0 auto;
        display: block;
    }
            .Card1 img {
            flex: 45%;
            max-width: 45%;
            width: 90%;
            height: auto;
            display: block;
        }


.Card1, .Card2, .Card3, .Card4 {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 40%;
}