*{
    margin: 5px;
}

body{
    background-color: beige;
}

.responsive-container {
  flex-wrap: wrap;
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    color: red;
  }
}

@media (orientation: landscape) and (max-width: 600px) {
.Mobile{
        display: none;
    }
}
@media (min-width: 1025px) {
    .Mobile{
        display: none;
    }
}

/*Näyttö orientaatio ja muuta*/

.media-box-large {
  padding: 20px;
  text-align: center;
}

@media (orientation: landscape) {
  .media-rotation {
    display: none;
  }
}
@media (orientation: portrait) {
  .media-rotation {
    background-color: brown;
    color: red;
    padding: 10px;
  }
  .cat {
    display: none;
  }
  .media-box-small{
    display: none;
  }
}

@media (max-width: 600px) {
  .media-box-small {
    background-color: lightcoral;
  }
  .media-box-large {
    display: none;
  }
  .cat{
    justify-content: center;
  }
}

@media (min-width: 601px) {
  .media-box-large {
    background-color: lightblue;
  }
  .media-box-small {
    display: none;
  }
  .cat{
    display: none;
  }
}

/*NAV asiat joita en kauheesti jaksa alkaa vääntää, olisin voinut vaikka laittaa ne tulemaan esille menusta*/

.responsive-nav .nav-list {
  align-content: space-between;
}

@media (max-width: 600px) {
  .responsive-nav .nav-list {
    display: none;
  }

  }

  .responsive-nav .menu-toggle {
    display: block;
  }

